body
{
 background-color:#f9f9f9;
 display:flex;
 justify-content:center;
 align-items:center;
}

.form-container
{
  background-color:white;
  border: 2px solid blue;
  padding:40px;
  border-radius:10px;
  width:50%;
  display:flex;
  flex-direction:column;
  justify-content:center;
}
.ab{
  width: 100%;
  
}

h2
{
  text-align:center;
  margin-bottom:20px;
}

