nav ul{
 list-style-type : none;
 padding : 0;
 margin : 0;
 }

nav ul li{
  margin-right : 20px;
  display : inline;
}  
 
nav ul li a{
  text-decoration : none;
  color:black;
  font-size 10px;
  }  
nav ul li a:hover{
  color : green;
  }
