.submit-btn
{
 width:100%;
padding:10px;
background-color: green;
color: white;
border-radius:5px;
cursor:pointer;
transition:background-color 0.3s ease;
}

.submit-btn:hover
{
 background-color:red;
} 
