/* .strength-meter {
    height: 10px;
    width: 100%;
    margin-top: 5px;
    background-color: lightgray;
    border-radius: 5px;
}
.strength-bar {
    height: 100%;
    width: 0;
    border-radius: 5px;
    transition: width 0.3s;
}
.weak {
    width: 33%;
    background-color: red;
}
.medium {
    width: 66%;
    background-color: orange;
}
.strong {
    width: 100%;
    background-color: green;
} */
form
{
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.div
{
    background-color:lightgrey;
    width :40%;
    /* height:100%; */
    display:flex;
    flex-direction:column;
    align-items:center;
    /* justify-content:center; */

}

h4
{
    text-align:center;
}

#submit-button
{
    width:70%;
    text-align:center;
    background-color:grey;
    color:white;

}
#pass
{
    width:90%;
}

.div2 {
    color: white;
    font-weight: bold;
    text-align: center;
    /* font-size: 12px; */
    background-color:grey;
    width: 0;
    height: 10px;
    margin-top: 10px;
    transition: width 0.3s ease;
    border-radius:5px;
}




#strength_meter + p {
    color: black;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
    font-size: 14px;
}
