.a {
    margin:20px;
    padding:10px;
    border: 1px solid grey;
}

.tool_Tip {
    position:absolute;
    display:none;
    background-color:grey;
    color:white;
    padding: 5px; 
    border-radius: 5px;
}
