.form-group
{
 margin-bottom:15px;
}

.form-group label
{
 display:block;	
 margin-bottom:5px;
 font-weight:bold;
 }

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"]
{
  width: 100%;
  padding:8px;
box-sizing:border-box;
border: 2px solid blue;
border-radius:5px;
}

.form-group input[type="radio"],
.form-group input[type="checkbox"]
{
 margin-right:5px;
} 
 	
